<nav class="navbar navbar-default pull-right">
    <ul class="nav navbar-nav">
        <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
        <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
    </ul>
</nav>

<div  ng-show="isLoggedIn()"
      style="margin-top:30px;">
    <h3>Add a new contact</h3>

    <div class="form-group">
        <input type="text"
               class="form-control"
               placeholder="Name"
               ng-model="name">
    </div>
    <div class="form-group">
        <input type="text"
               class="form-control"
               placeholder="Local number"
               ng-model="local_number">
    </div>
<div class="form-group">
    <label style="">Upload file</label>
    <input type="file" class="form-control" id="csv-file" name="csv" ng-model="code">
</div>

<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="btn btn-block btn-info" ng-click="addContact()">Update</div>
    </div>
</div>
</div>